{
  "presets": ["stage-0",
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }]
  ],
  "plugins": ["transform-flow-comments"],
  "env": {
    "test": {
      "presets": ["env", "stage-0"],
      "plugins": [["istanbul", {
        "include": ["src/**"],
        "exclude": ["test/**", "src/FormDemo.vue", "src/main.js", "src/molgenisUiForm.js", "src/flow.types.js"]
      }]]
    }
  }
}
